/* @media screen and (max-width:991px) {
   .nav-toggel{
    display: block;
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
   } 
   .pannel-ops {
    display: none;
 }
} */
/* .nav-toggel{
    display: none;
} */
